body{
    background-color: rgba(13, 13, 46, 0.733);
}
* { 
    margin: 0; 
    padding: 0; 
    box-sizing:border-box ;
}
header{
    padding: 32px;
    border-bottom:1px black solid;
    background-color:rgba(0, 0, 0, 0.1);
}
.header{
    text-align: center;
}
.header a{
    text-align: center;
    color: gold;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    text-decoration: none;
}
.header :hover{
    color:goldenrod;
}
#imagem {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 2vh;
    
}
#imagem :hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
#imagem img{
    border-radius: 50%;
    border: 1px solid black;
}